extends layout

block content

  .container
    div.alert.alert-success.alert-emailcheck
      p Approved! Photos from #{email} will now be sent through to your Skylight(s).
      p If you have any questions, reach out to us at info@skylightframe.com